<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.course.model">
    <!---获取登录用户接口用例-->
    <select id="LoginCase" resultType="com.course.model.LoginCase" parameterType="Integer">
        SELECT * FROM logincase where id = #{id};
    </select>

    <!---添加用户接口用例-->
    <select id="AddUserInfo" resultType="com.course.model.AddUserCase" parameterType="Integer">
        SELECT * FROM addusercase where id = #{id};
    </select>
    <!---更新用户接口用例-->
    <select id="UpdateUserInfo" resultType="com.course.model.UpdateUserInfoCase" parameterType="Integer">
        SELECT * FROM updateuserinfocase where id = #{id};
    </select>
    <!---获取用户信息接口用例-->
    <select id="GetUserInfo" resultType="com.course.model.GetUserInfoCase" parameterType="Integer">
        SELECT * FROM getuserinfocase where id = #{id};
    </select>
    <!---获取用户列表接口用例-->
    <select id="GetUserListInfo" resultType="com.course.model.GetUserListCase" parameterType="Integer">
        SELECT * FROM getuserlistcase where id = #{id};
    </select>
    
    <!--获取用户信息-->
    <select id="getUserInfo" parameterType="com.course.model.GetUserInfoCase" resultType="com.course.model.User">
        SELECT * FROM user WHERE id=#{userId}
    </select>
    <!--获取用户列表-->
    <select id="getUserList" parameterType="com.course.model.GetUserListCase" resultType="com.course.model.User">
        select * from user
        <trim prefix="where" prefixOverrides="and">
            <if test="null !=userName and '' != userName">
                AND userName=#{userName}
            </if>
            <if test="null !=sex and '' != sex">
                AND sex=#{sex}
            </if>
            <if test="null !=age and '' != age">
                AND age=#{age}
            </if>
        </trim>
        ;
    </select>
    <!--获取更新之后的数据-->
    <select id="getUpdateUserInfo" parameterType="com.course.model.UpdateUserInfoCase" resultType="com.course.model.User">
        SELECT * from user
        <trim prefix="where" prefixOverrides="and">
            <if test="null != userName and '' != userName">
                AND userName=#{userName}
            </if>
            <if test="null != age and '' != age">
                AND age=#{age}
            </if>
            <if test="null != sex and '' != sex">
                AND sex=#{sex}
            </if>
            <if test="null != permission and '' != permission">
                AND permission=#{permission}
            </if>
            <if test="null != isDelete and '' != isDelete">
                AND isDelete=#{isDelete}
            </if>
        </trim>
        AND id=#{userId}
    </select>
    <!--增加用户-->
    <select id="addUser" parameterType="com.course.model.AddUserCase" resultType="com.course.model.User">
        SELECT * from user
        <trim prefix="where" prefixOverrides="and">
            <if test="null != userName and '' != userName">
                AND userName=#{userName}
            </if>
            <if test="null != passWd and '' != passWd">
                AND passWd=#{passWd}
            </if>
            <if test="null != age and '' != age">
                AND age=#{age}
            </if>
            <if test="null != sex and '' != sex">
                AND sex=#{sex}
            </if>
            <if test="null != permission and '' != permission">
                AND permission=#{permission}
            </if>
            <if test="null != isDelete and '' != isDelete">
                AND isDelete=#{isDelete}
            </if>
        </trim>
        LIMIT 1;
    </select>
</mapper>